<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i> <span class="capitalize">{{collection}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">{{collection}}</h5>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn add-btn" routerLink="/{{collection}}/add">Add New Sub Admin</button>
        </div>
    </div>

    <!--------------------------------- Tables ------------------------------->
    <div class="row mt-5">
        <div class="col-md-12 border p-0">
            <p-table #dt1 styleClass="p-datatable-striped" [columns]="cols" [value]="data"  dataKey="id" [rowHover]="true"
                [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                [globalFilterFields]="['id','name','email','mobile_no']">
                <ng-template pTemplate="caption">
                    <div class="table-header pb-4">
                        <span class="my-auto">List of {{collection}}</span>
                        <span class="p-input-icon-left float-right my-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #search (input)="dt1.filterGlobal(search.value, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr class="bg-secondary">
                        <th pSortableColumn="{{col.field}}" pResizableColumn *ngFor="let col of columns">
                            {{col.header}} <p-sortIcon style="float: right;" field="{{col.field}}"></p-sortIcon>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="col.field != 'timestamp'">
                                {{rowData[col.field]}}
                            </ng-container>
                            <ng-container *ngIf="col.field == 'timestamp'">
                                {{rowData.timestamp}}
                            </ng-container>
                        </td>
                        <td>
                            <!-- <i class="pi pi-eye mx-2 cursor-pointer" (click)="view()"></i> -->
                            <i class="pi pi-pencil mx-2 cursor-pointer" (click)="edit(rowData['id'])"></i>
                            <i class="pi pi-trash mx-2 cursor-pointer" (click)="delete(rowData['id'])"></i>
                            <i class="pi pi-ban mx-2 cursor-pointer" *ngIf="!rowData['isBlocked']" (click)="confirmToBlockUser(rowData['id'])"></i>
                            <i class="pi pi-circle-off mx-2 cursor-pointer" *ngIf="rowData['isBlocked']" (click)="confirmToUnBlockUser(rowData['id'])"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <br><br><br>
</div>

<!-- block sub admin toast -->
<p-toast position="bottom-center" key="blockSubAdmin" (onClose)="onRejectToBlock()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" pButton (click)="onConfirmToBlock()" label="Yes" class="p-button-success"></button> &nbsp;&nbsp;
                    <button type="button" pButton (click)="onRejectToBlock()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>


<!-- Unblock sub admin toast -->
<p-toast position="bottom-center" key="unBlockSubAdmin" (onClose)="onRejectToUnBlock()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" pButton (click)="onConfirmToUnBlock()" label="Yes" class="p-button-success"></button> &nbsp;&nbsp;
                    <button type="button" pButton (click)="onRejectToUnBlock()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>