<h5>Statistics</h5>
<div class="container-fluid">
    <!--------------------------------- cards ------------------------------->
    <div class="row my-3">
        <div class="col-md-4 p-0 mx-auto">
            <div class="custom-card">
                <div class="card-header">
                    <b>Total No. Of Players</b>
                </div>
                <div class="card-container">
                    <div class="row my-3">
                        <div class="col-6 card-icon">
                            <i class="pi pi-user-plus"></i>
                        </div>
                        <div class="col-6 text-left">
                            <h1>10</h1>
                        </div>
                        <div class="col-md-12 card-footer mx-auto">
                            <a>view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 mx-auto">
            <div class="custom-card">
                <div class="card-header">
                    <b>Scouting</b>
                </div>
                <div class="card-container">
                    <div class="row my-3">
                        <div class="col-6 card-icon">
                            <i class="pi pi-users"></i>
                        </div>
                        <div class="col-6 text-left">
                            <h1>05</h1>
                        </div>
                        <div class="col-md-12 card-footer mx-auto">
                            <a>view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 mx-auto">
            <div class="custom-card">
                <div class="card-header">
                    <b>Agencies</b>
                </div>
                <div class="card-container">
                    <div class="row my-3">
                        <div class="col-6 card-icon">
                            <i class="pi pi-tablet"></i>
                        </div>
                        <div class="col-6 text-left">
                            <h1>10</h1>
                        </div>
                        <div class="col-md-12 card-footer mx-auto">
                            <a>view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!--------------------------------- Graphs ------------------------------->
    <div class="row my-3">
        <div class="col-md-4 p-0 mx-auto">
            <div class="custom-card">
                <div class="card-container">
                    <div class="row my-3">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

