html, body, h1, h2, h3, h4, p, img { margin: 0;} /* margin reset*/
h1{font-size: 18pt; font-weight: 500; margin-bottom: 0.5cm;}
h2{font-size: 16pt; font-weight: 500;}
p,b{font-size: 12pt;}

.items-group {
  border-style: solid;
  border-color: black;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 5pt;
  padding: 3pt 3pt 3pt 3pt;
  margin: 9pt 0 9pt 0;
}

.logotipo {
  width: 6cm;
  height: 4cm;
  margin: -0.5cm;
}

.label { font-weight: 500;}

.disclaimer, .address p {
  font-size: 10pt;
}

.signature-field {
  padding-bottom: 24pt;
  border-bottom: solid black 1pt;
}

.table thead {
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
  th {
    vertical-align: bottom;
    border-bottom: none;
  }
}

.border-top {
  border-top: 1px solid #000!important;
}
.border-bottom {
  border-bottom: 1px solid #000!important;
}

.price {
  background-color: var(--primary) !important;
  color: white !important;
}

.bg-header {
  background-color: red!important;
  min-width: 100%;
  max-width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  // margin-top: 8px;
}

.card {
  box-shadow: none!important;
}
