<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i> <span class="capitalize">{{collection}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">{{collection}}</h5>
        </div>
        <div class="col-md-6 text-right" *ngIf="auth.getSubAdminData().players?.add || auth.isSuperAdmin()">
            <button class="btn add-btn" routerLink="/{{collection}}/add">Add New Player</button>
        </div>
    </div>

    <!--------------------------------- Tables ------------------------------->
    <div class="row mt-5">
        <div class="col-md-12 border p-0">
            <p-table #dt styleClass="p-datatable-striped" [columns]="cols" [value]="data"  dataKey="id" [rowHover]="true"
                [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
                [globalFilterFields]="['type','company','contact_date','contact_due_date']">
                <ng-template pTemplate="caption">
                    <div class="table-header pb-4">
                        <span class="my-auto">List of {{collection}}</span>
                        <span class="p-input-icon-left float-right my-auto">
                            <i class="pi pi-search"></i>
                            <!-- <input pInputText type="text" #search (input)="dt1.filterGlobal(search.value, 'contains')" placeholder="Search keyword" /> -->
                            <input pInputText type="text" placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr class="bg-secondary">
                        <th pSortableColumn="{{col.field}}" pResizableColumn *ngFor="let col of columns">
                            {{col.header}} <p-sortIcon style="float: right;" field="{{col.field}}"></p-sortIcon>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <ng-container *ngIf="col.field == 'nationality'">
                                <img [src]="rowData.nationality?.imgUrl" width="40px" alt="">
                                <span class="ml-2">{{rowData.nationality?.name}}</span>
                            </ng-container>
                            <ng-container *ngIf="col.field == 'name'">
                                <img [src]="rowData.imgUrl" width="40px" alt="">
                                <span class="ml-2">{{rowData.name}}</span>
                            </ng-container>
                            <ng-container *ngIf="col.field != 'nationality' && col.field != 'name' && col.field != 'spr' && col.field != 'timestamp'">
                                {{rowData[col.field]}}
                            </ng-container>
                            <ng-container *ngIf="col.field == 'spr'">
                                {{rowData.spr.heading}}
                            </ng-container>
                            <ng-container *ngIf="col.field == 'timestamp'">
                                {{rowData.timestamp.toDate() | date : 'mediumDate'}}
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="auth.getSubAdminData().players?.view || auth.isSuperAdmin()">
                                <i class="pi pi-eye mx-2 cursor-pointer" (click)="view(rowData['id'])"></i>
                            </ng-container>
                            <ng-container *ngIf="auth.getSubAdminData().players?.edit || auth.isSuperAdmin()">
                                <i class="pi pi-pencil mx-2 cursor-pointer" (click)="edit(rowData['id'])"></i>
                            </ng-container>
                            <ng-container *ngIf="auth.getSubAdminData().players?.delete || auth.isSuperAdmin()">
                                <i class="pi pi-trash mx-2 cursor-pointer" (click)="delete(rowData['id'])"></i>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <br><br><br>
</div>