<!-- <div class="container">
    <div class="row min-height-80">
        <div class="col-md-5 my-auto mx-auto">
            <div class="text-center">
                <img src="assets/images/logo.jpeg" class="w-25" alt="">
            </div>
            <div class="border">
                <div class="border-bottom text-center py-2">
                    <h4>Reset Password</h4>
                </div>
                <div class="p-4">
                    <form [formGroup]="data" (ngSubmit)="onSubmit()">
                        <label>Password</label>
                        <div class="p-inputgroup">
                            <p-password class="w-100" formControlName="password"></p-password>
                        </div>
                        <br>
                        <label>Confirm Password</label>
                        <div class="p-inputgroup">
                            <p-password class="w-100" formControlName="confirm_password" [toggleMask]="true"
                                [feedback]="false" (keyup)="comparePassword()"></p-password>
                        </div>
                        <div *ngIf="validation.confirm_password.errors && validation.confirm_password.dirty">
                            <div class="text-danger" *ngIf="validation.confirm_password?.errors?.required">Password is
                                required</div>
                        </div>
                        <div *ngIf="validation.password.errors && validation.password.dirty">
                                <div class="text-danger" *ngIf="validation.password.errors?.pattern">Please set a strong password!</div>
                        </div>
                        <p class="text-danger m-0" *ngIf="!comparePassword() && validation.confirm_password.dirty">
                            Password not match!</p>
                        <div class="text-center">
                            <button class="btn btn-primary mt-4" [disabled]="data.invalid || !comparePassword()">Reset
                                Password</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div> -->

<div class="container">
    <div class="row min-height-80">
        <div class="col-md-5 my-auto mx-auto">
            <div class="text-center">
                <img src="assets/images/logo.png" class="w-25" alt="">
            </div>
            <div class="border">
                <div class="border-bottom text-center py-2">
                    <h4>Reset Password</h4>
                </div>
                <div class="p-4">
                    <form [formGroup]="data" (ngSubmit)="onSubmit()">
                        <label>Enter Your Email Address</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="email" formControlName="email" class="w-100" pInputText placeholder="Email Address">
                        </div>
                        <div *ngIf="validation.email.errors && validation.email.dirty">
                            <div class="text-danger" *ngIf="validation.email?.errors?.required">Email is required</div>
                            <div class="text-danger" *ngIf="validation.email?.errors?.pattern">Email must be a valid email
                                address</div>
                        </div>
                        <div class="text-center my-4">
                            <button class="btn btn-primary mx-3" type="submit" [disabled]="data.invalid">Send</button>
                            <button class="btn btn-primary mx-3" type="reset">Cancel</button>
                        </div>
                        <div class="text-center">
                            <a class="link" (click)="back()">Go back</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>