<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i> <span
                class="capitalize">{{collection}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">{{collection}}</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize link cursor-pointer" routerLink="/auth/reset-password">Change Password <i class="pi pi-arrow-circle-right ml-3" style="font-size: 22px;"></i></h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">Privacy Policy</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam sit blanditiis repellat architecto ex
                culpa iure sequi incidunt maiores commodi fugiat beatae facere perferendis voluptas est placeat libero
                rerum obcaecati cumque, ratione iste illo! Ipsam iste dolores maxime consequuntur, molestiae sequi
                doloremque! Ipsum, doloribus. Accusantium impedit et unde iste corporis, sit, harum blanditiis in
                reprehenderit minima voluptatum beatae maxime, porro fuga a asperiores velit quis cum suscipit. Cum
                vitae dignissimos ea explicabo iure non fugiat dicta praesentium repellendus animi laborum consectetur
                quibusdam sed quos voluptatibus quae corrupti tempora, velit porro assumenda laudantium asperiores
                reprehenderit commodi sint. Placeat non quia eos.</p>
        </div>
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">Rules & Warnings</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam sit blanditiis repellat architecto ex
                culpa iure sequi incidunt maiores commodi fugiat beatae facere perferendis voluptas est placeat libero
                rerum obcaecati cumque, ratione iste illo! Ipsam iste dolores maxime consequuntur, molestiae sequi
                doloremque! Ipsum, doloribus. Accusantium impedit et unde iste corporis, sit, harum blanditiis in
                reprehenderit minima voluptatum beatae maxime, porro fuga a asperiores velit quis cum suscipit. Cum
                vitae dignissimos ea explicabo iure non fugiat dicta praesentium repellendus animi laborum consectetur
                quibusdam sed quos voluptatibus quae corrupti tempora, velit porro assumenda laudantium asperiores
                reprehenderit commodi sint. Placeat non quia eos.</p>
        </div>
    </div>
</div>