<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a>
            <i class="pi pi-angle-right"></i>
            <a class="link" routerLink="/{{collection}}">{{collection}}</a>
            <i class="pi pi-angle-right"></i>
            <span>{{id ? 'Edit':'Add'}} {{pageTitle}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto">{{id ? 'Edit':'Add'}} {{pageTitle}}</h5>
        </div>
    </div>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="row px-3 mt-3">
            <div class="col-md-12 border-bottom my-auto px-0 font-larger">
                <i class="my-auto">Basic Details</i>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 text-center mt-3 d-block d-lg-none d-md-none">
                <img [src]="imageSrc" class="cursor-pointer rounded-circle" (click)="file.click()" width="30%"
                    alt=""><br>
                <label class="text-center mr-2">Upload {{pageTitle}} Logo</label>
                <input #file type="file" formControlName="file" class="d-none" (change)="onSelectFile($event)">
            </div>
            <div *ngIf="validation.file.errors && validation.file.dirty" class="d-block d-lg-none d-md-none">
                <div class="text-danger" *ngIf="validation.file?.errors?.required">Field is required!</div>
            </div>
            <div class="col-md-8">
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field">
                            <label>{{pageTitle}} Name</label> <br>
                            <input type="text" class="w-100" formControlName="name" pInputText>
                        </div>
                        <div *ngIf="validation.name.errors && validation.name.dirty">
                            <div class="text-danger" *ngIf="validation.name?.errors?.required">Field is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field">
                            <label>{{pageTitle}} Owner Name</label> <br>
                            <input type="text" class="w-100" formControlName="owner_name" pInputText>
                        </div>
                        <div *ngIf="validation.owner_name.errors && validation.owner_name.dirty">
                            <div class="text-danger" *ngIf="validation.owner_name?.errors?.required">Field is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <label>Country</label> <br>
                        <p-dropdown [options]="countries" formControlName="nationality" optionLabel="name"
                            [filter]="true" filterBy="name" placeholder="Select a Country">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value d-flex" *ngIf="formData.value.nationality">
                                    <img [src]="formData.value.nationality.imgUrl" class="flag" />
                                    <div>{{formData.value.nationality.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="d-flex">
                                    <img [src]="country.imgUrl" class="flag" />
                                    <div>{{country.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="validation.nationality.errors && validation.nationality.dirty">
                            <div class="text-danger" *ngIf="validation.nationality?.errors?.required">Field
                                is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field">
                            <label>Phone No</label> <br>
                            <input type="number" class="w-100" formControlName="mobile_no" pInputText>
                        </div>
                        <div *ngIf="validation.mobile_no.errors && validation.mobile_no.dirty">
                            <div class="text-danger" *ngIf="validation.mobile_no?.errors?.required">Field is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <label>Full Address</label> <br>
                        <textarea [rows]="3" class="w-100" formControlName="full_address" pInputTextarea></textarea>
                        <div *ngIf="validation.full_address.errors && validation.full_address.dirty">
                            <div class="text-danger" *ngIf="validation.full_address?.errors?.required">Field is
                                required!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center mt-3 d-none d-lg-block d-md-block">
                <img [src]="imageSrc" class="cursor-pointer rounded-circle" (click)="file.click()" width="30%"
                    alt=""><br>
                <label class="text-center mr-2">Upload {{pageTitle}} Logo</label>
                <input #file type="file" formControlName="file" class="d-none" (change)="onSelectFile($event)">
            </div>
            <div *ngIf="validation.file.errors && validation.file.dirty">
                <div class="text-danger" *ngIf="validation.file?.errors?.required">Field is required!</div>
            </div>
        </div>

        <div class="px-3">
            <div class="row mt-3 border-bottom p-sm-1">
                <div class="col-md-6 p-0">
                    <i class="my-auto font-larger">Contract Details</i>
                </div>
                <div class="col-md-6 text-right p-0">
                    <button class="btn btn-primary w-sm-100" type="button" (click)="onAddContract()">
                        <i class="pi pi-plus"></i>
                        Add More Contract
                    </button>
                </div>
            </div>
        </div>
        <div formArrayName="contracts" *ngFor="let item of allContracts.controls; let i = index;">
            <div class="row mt-3" [formGroupName]="i">
                <div class="col-md-8">
                    <div class="row my-3">
                        <div class="col-md-6">
                            <div class="p-field">
                                <label>Contract Date</label> <br>
                                <input type="date" formControlName="contract_date" class="form-control">
                                <!-- <p-calendar formControlName="contract_date" class="w-100" [showIcon]="true"></p-calendar> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-field">
                                <label>Contract Due Date</label> <br>
                                <input type="date" formControlName="contract_due_date" class="form-control">
                                <!-- <p-calendar formControlName="contract_due_date" class="w-100" [showIcon]="true"></p-calendar> -->
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-8">
                            <label>Contract Terms</label> <br>
                            <textarea [rows]="5" class="w-100" formControlName="contract_terms"
                                pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" (click)="onDeleteContract(i)" type="button">
                        Delete
                    </button>
                </div>
            </div>
            <hr>
        </div>

        <div class="px-3 mt-5">
            <div class="row mt-3 border-bottom">
                <div class="col-md-6 p-0">
                    <i class="my-auto font-larger">Upload Documents</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="form-group">
                        <img [src]="documentSrc" class="cursor-pointer" (click)="files.click()" width="30%" alt=""><br>
                        <label class="text-center mr-2">Upload Document</label>
                        <input type="file" id="file" #files accept='image/*' multiple
                            (change)="multipleDocumentPreview($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mb-3" *ngFor="let url of multipleDocumentUrls;let i = index">
                    <img [src]="url" style="width: 100%;">
                    <button class="btn btn-primary" type="button"
                        (click)="deleteMultiplePreviewDocuments(i)">Delete</button>
                </div>
            </div>
            <ng-container *ngIf="subCollectionData.length>0">
                <label>Selected Multiple Documents</label>
                <div class="row">
                    <div class="col-md-4 my-2" *ngFor="let data of subCollectionData;let i = index">
                        <img [src]="data.imgUrl" (load)="data.loaded = true" [hidden]="!data.loaded" width="100%">
                        <a [href]="data.imgUrl" target="_blank" *ngIf="!data.loaded">Click here to see document</a> <br>
                        <button class="btn btn-primary" type="button"
                            (click)="deleteSubCollectionDocuments(data.id,data.imgPath,i)">Delete</button>
                    </div>
                    <!-- <div class="col-md-4 my-2" *ngFor="let data of subCollectionData;let i = index">
                        <img [src]="data.imgUrl" width="100%">
                        <button class="btn btn-primary" type="button"
                            (click)="deleteSubCollectionDocuments(data.id,data.imgPath,i)">Delete</button>
                    </div> -->
                </div>
            </ng-container>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    <button class="btn btn-primary mt-4" *ngIf="!id" type="submit" [disabled]="formData.invalid || multipleDocumentFiles.length==0">Save</button>
                    <button class="btn btn-primary mt-4" *ngIf="id" type="submit" [disabled]="formData.invalid">Save</button>
                </div>
            </div>
        </div>


    </form>

    <br><br><br>
</div>