<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 breadcumb">
      <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i> <span>Partners</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 col-6 my-auto">
      <h5 class="my-auto">Partners</h5>
    </div>
    <div class="col-md-6 col-6 text-right" *ngIf="auth.getSubAdminData()?.agencies?.add || auth.isSuperAdmin()">
      <button class="btn add-btn" routerLink="/agencies/partners/add">Add New Partner</button>
    </div>
  </div>

  <!--------------------------------- Tables ------------------------------->
  <div class="row mt-5">
    <div class="col-md-12 border p-0">
      <p-table #dt1 styleClass="p-datatable-responsive-demo p-datatable-gridlines p-datatable-md p-datatable-striped"
        [columns]="cols" [value]="data" dataKey="id" [rowHover]="true" [paginator]="true" [rows]="10"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
        [globalFilterFields]="['id','name','country','address','city','phone','email']">
        <ng-template pTemplate="caption">
          <div class="table-header">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-12 my-2">
                <h4>List of Partner</h4>
              </div>
              <div class="col-md-4 col-lg-4 col-12 my-2 table-search-right">
                <span class="p-input-icon-left float-right my-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" #search (input)="dt1.filterGlobal(search.value, 'contains')"
                    placeholder="Search..." />
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="bg-secondary">
            <th pSortableColumn="{{col.field}}" pResizableColumn *ngFor="let col of columns">
              {{col.header}} <p-sortIcon style="float: right;" field="{{col.field}}"></p-sortIcon>
            </th>
            <th>
              Action
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">

          <tr class="p-selectable-row">
            <td class="text-center" *ngFor="let col of columns">
              <span class="p-column-title">{{col.header}} : </span>
              <ng-container *ngIf="col.field != 'country'">
                {{rowData[col.field]}}
              </ng-container>
              <ng-container *ngIf="col.field == 'country'">
                <img [src]="rowData.country?.imgUrl" width="40px" alt="">
                <span class="ml-2">{{rowData.country?.name}}</span>
              </ng-container>
            </td>
            <td class="text-center">
              <span class="p-column-title">Action : </span>
              <ng-container *ngIf="auth.getSubAdminData()?.agencies?.edit || auth.isSuperAdmin()">
                <i class="pi pi-pencil mx-2 cursor-pointer" (click)="edit(rowData['id'])"></i>
              </ng-container>
              <ng-container *ngIf="auth.getSubAdminData()?.agencies?.delete || auth.isSuperAdmin()">
                <i class="pi pi-trash mx-2 cursor-pointer" (click)="delete(rowData['id'])"></i>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <br><br><br>
</div>
