<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a>
            <i class="pi pi-angle-right"></i>
            <a class="link" routerLink="/{{collection}}">{{collection}}</a>
            <i class="pi pi-angle-right"></i>
            <span>Add {{pageTitle}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto">Add {{pageTitle}}</h5>
        </div>
    </div>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">

        <div class="row mt-3">
            <div class="col-md-8">
                <div class="row my-3">
                    <div class="col-md-6">
                        <label>Document Type</label> <br>
                        <p-dropdown [options]="documentTypes" class="w-100" formControlName="type"
                            placeholder="Select Type"></p-dropdown>
                        <div *ngIf="validation.type.errors && validation.type.dirty">
                            <div class="text-danger" *ngIf="validation.type?.errors?.required">Field is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field">
                            <label>Document Name</label> <br>
                            <input type="text" class="w-100" formControlName="name" pInputText>
                        </div>
                        <div *ngIf="validation.name.errors && validation.name.dirty">
                            <div class="text-danger" *ngIf="validation.name?.errors?.required">Field is required!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-3">
            <div class="row mt-3 border-bottom">
                <div class="col-md-6 p-0">
                    <i class="my-auto font-larger">Upload Documents</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="form-group">
                        <img [src]="documentSrc" class="cursor-pointer" (click)="files.click()" width="30%" alt=""><br>
                        <label class="text-center mr-2">Upload Document</label>
                        <input type="file" id="file" #files accept='image/*' multiple
                            (change)="multipleDocumentPreview($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mb-3" *ngFor="let url of multipleDocumentUrls;let i = index">
                    <img [src]="url" style="width: 100%;">
                    <button class="btn btn-primary" type="button"
                        (click)="deleteMultiplePreviewDocuments(i)">Delete</button>
                </div>
            </div>
            <ng-container *ngIf="subCollectionData.length>0">
                <label>Selected Multiple Documents</label>
                <div class="row">
                    <div class="col-md-4 my-2" *ngFor="let data of subCollectionData;let i = index">
                        <img [src]="data.imgUrl" width="100%">
                        <button class="btn btn-primary" type="button"
                            (click)="deleteSubCollectionDocuments(data.id,data.imgPath,i)">Delete</button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    <button class="btn btn-primary mt-4" *ngIf="!id" type="submit"
                        [disabled]="formData.invalid || multipleDocumentFiles.length==0">Save</button>
                    <button class="btn btn-primary mt-4" *ngIf="id" type="submit" [disabled]="formData.invalid">Save</button>
                </div>
            </div>
        </div>


    </form>

    <br><br><br>
</div>