/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #EEEEEE;
    --primary-contrast: #373734;
    --secondary: #DDDDDD;
    --secondary-contrast: #3E4A58;
    --tertiary: #741B47;
    --tertiary-contrast: #fff;
    --blue: #0C56AC;
    --primary-font: 'Roboto', sans-serif;
    --primary-font-size: 16px;
    --secondary-font-size: 18px;
    --tertiary-font-size: 20px;
}



app-print-templates {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-print-templates {
    display: block;
  }

  .view-content {
    display: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
b,
a,
label,
small,
button {
    font-family: var(--primary-font) !important;
}

.text-primary {
    color: var(--primary-contrast) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.min-height-100 {
    min-height: 100vh;
}

.min-height-90 {
    min-height: 90vh;
}

.min-height-80 {
    min-height: 80vh;
}

.border {
    border: 1px solid #000 !important;
}

.border-bottom {
    border-bottom: 1px solid #000 !important;
}

.p-password {
    width: 100% !important;
}

.btn-primary {
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 3px 25px !important;
    min-width: 30%;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.05rem #ced4da !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #555;
}

.btn-primary:disabled {
    background-color: rgba(0, 0, 0, 0.5);
}

.underline {
    text-decoration: underline;
}

.p-datatable .p-datatable-header {
    background: #000 !important;
    color: #fff!important;
    border: 1px solid #e9ecef;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 600;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    background: #000 !important;
    color: #fff !important;
    transition: box-shadow 0.2s;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
    background-color: var(--primary) !important;
}

.add-btn {
    background: var(--tertiary) !important;
    color: var(--tertiary-contrast) !important;
    text-transform: capitalize;
}

.link {
    color: var(--blue)!important;
    text-decoration: underline!important;
    cursor: pointer!important;
}

.text-blue {
    color: var(--blue);
}

.breadcumb i {
    color: var(--primary-contrast) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.p-dropdown {
    background: #ffffff;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    width: 100% !important;
}

.p-calendar {
    position: relative;
    display: inline-flex;
    width: 100% !important;
}

.flag {
    width: 35px;
    margin-right: 10px;
}

.-mt-1 {
    margin-top: -10px!important;
}

.-mt-2 {
    margin-top: -20px!important;
}

.-mt-3 {
    margin-top: -30px!important;
}

// .p-inputtext {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     font-size: 1rem;
//     color: #495057;
//     background: #ffffff;
//     padding: 0.5rem 0.5rem;
//     border: 1px solid #ced4da;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     border-radius: 3px;
//     width: 100%!important;
// }

.p-input-icon-left, .p-input-icon-right {
    position: relative;
    display: inline-block;
    width: 100%;
}



/*---------------------Laptop------------------------------*/

@media (min-width: 1024px) {
    .table-search-right {
        position: absolute;
        right: 0;
    }
    .p-sm-1 {
        padding-bottom: 0!important;
    }
}

/*-------------------Mobile---------------------------------*/

@media (max-width:768px) {
    .w-sm-100 {
        width: 100%;
    }
    .p-sm-1 {
        padding-bottom: 10px!important;
    }
}

button::focus-visible {
    outline: none!important;
    border: none!important;
}


.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}


.min-h {
  height: 250px;
}
