/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #EEEEEE;
    --primary-contrast: #373734;
    --secondary: #DDDDDD;
    --secondary-contrast: #3E4A58;
    --tertiary: #741B47;
    --tertiary-contrast: #fff;
    --blue: #0C56AC;
}
