<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i>
            <a class="capitalize link" routerLink="/{{collection}}">{{collection}}</a> <i class="pi pi-angle-right"></i>
            <span class="capitalize">{{data.name}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">{{pageTitle}} Details</h5>
        </div>
        <div class="col-md-6 float-right align-item-right">
            <div class="d-flex" style="position: absolute;right: 0;">
                <div class="text-center mx-3">
                    <i class="pi pi-pencil cursor-pointer" style="font-size: 24px;" (click)="edit()"></i>
                    <p>Edit</p>
                </div>
                <div class="text-center mx-3">
                    <i class="pi pi-trash cursor-pointer" style="font-size: 24px;" (click)="delete()"></i>
                    <p>Delete</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex">
            <img [src]="data.imgUrl" width="100px" height="100px" class="rounded-circle" alt="">
            <h1 class="capitalize my-auto ml-4">{{data.name}}</h1>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6">
            <p-card class="min-height-50vh">
                <i>Personal Details</i>
                <div class="row mt-2">
                    <div class="col-6">
                        <i class="text-blue">Nationality</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.nationality}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Date of Birth</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.dob}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Height</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.spr?.height}} Cm</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Weight</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.spr?.weight}} Kg</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Preferred Foot</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.other_details?.preferred_foot}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Club</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.other_details?.club}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">League</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.other_details?.league}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="text-blue">Position</i>
                    </div>
                    <div class="col-6 text-right">
                        <p class="font-weight-500">{{data.other_details?.position}}</p>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="col-md-6">
            <p-card>
                <i>Soccerment Performance Rating (SPR)</i>
                <div class="row">
                    <div class="col-12 text-center">
                        <div echarts [options]="options" class="chart"></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">
                        <p>Defending</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.defending"></p-progressBar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Heading</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.heading"></p-progressBar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Passing</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.passing"></p-progressBar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Dribbling</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.dribbling"></p-progressBar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Vision</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.vision"></p-progressBar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Attacking</p>
                    </div>
                    <div class="col-6 text-right">
                        <p-progressBar [value]="data.spr?.attacking"></p-progressBar>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>Season highlight</h5>
            <p>
               {{data.spr?.season_highlights}}
            </p>
        </div>
        <div class="col-md-6">
            <h5>Career highlight</h5>
            <p>
                {{data.spr?.career_highlights}}
            </p>
        </div>
    </div>
</div>
<br><br><br>