<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a>
            <i class="pi pi-angle-right"></i>
            <a class="link" routerLink="/{{collection}}">{{collection}}</a>
            <i class="pi pi-angle-right"></i>
            <span>Add {{pageTitle}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto">Add {{pageTitle}}</h5>
        </div>
    </div>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="row px-3 mt-3">
            <div class="col-md-12 border-bottom my-auto px-0 font-larger">
                <i class="my-auto">Basic Details</i>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="p-field">
                    <label>{{pageTitle}} Name</label> <br>
                    <input type="text" class="w-100" formControlName="name" pInputText>
                </div>
                <div *ngIf="validation.name.errors && validation.name.dirty">
                    <div class="text-danger" *ngIf="validation.name?.errors?.required">Field is required!
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-field">
                    <label>{{pageTitle}}ing Report On</label> <br>
                    <input type="text" class="w-100" formControlName="report" pInputText>
                </div>
                <div *ngIf="validation.report.errors && validation.report.dirty">
                    <div class="text-danger" *ngIf="validation.report?.errors?.required">Field is required!
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-field">
                    <label>Prepare</label> <br>
                    <input type="text" class="w-100" formControlName="prepare" pInputText>
                </div>
                <div *ngIf="validation.prepare.errors && validation.prepare.dirty">
                    <div class="text-danger" *ngIf="validation.prepare?.errors?.required">Field is required!
                    </div>
                </div>
            </div>
        </div>


        <div class="row px-3 mt-5">
            <div class="col-md-12 border-bottom my-auto px-0 font-larger"></div>
        </div>
        <div class="row mt-3"  formGroupName="team1">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>System</label><br>
                            <input type="text" class="w-100" formControlName="system" pInputText>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Key Player 1</label><br>
                            <input type="text" class="w-100" formControlName="key_player1" pInputText>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Key Player 2</label><br>
                            <input type="text" class="w-100" formControlName="key_player2" pInputText>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Note 1</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="note1" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Note 2</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="note2" pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Attack</label><br>
                <textarea [rows]="10" class="w-100" formControlName="attack" pInputTextarea></textarea>
            </div>
        </div>


        <div class="row px-3 mt-5">
            <div class="col-md-12 border-bottom my-auto px-0 font-larger"></div>
        </div>
        <div class="row mt-3" formGroupName="team2">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Other System</label><br>
                            <input type="text" class="w-100" formControlName="other_system" pInputText>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Key Player 1</label><br>
                            <input type="text" class="w-100" formControlName="key_player1" pInputText>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Key Player 2</label><br>
                            <input type="text" class="w-100" formControlName="key_player2" pInputText>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Note 1</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="note1" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Note 2</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="note1" pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Defend</label><br>
                <textarea [rows]="10" class="w-100" formControlName="defend" pInputTextarea></textarea>
            </div>
        </div>


        <div class="row px-3 mt-5">
            <div class="col-md-12 border-bottom my-auto px-0 font-larger"></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Def Corners</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="def_corners" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Att Corners</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="att_corners" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-field p-col">
                            <label>Restart</label><br>
                            <textarea [rows]="3" class="w-100" formControlName="restart" pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    <button class="btn btn-primary mt-4" type="submit" [disabled]="formData.invalid">Save</button>
                </div>
            </div>
        </div>


    </form>

    <br><br><br>
</div>