<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 breadcumb">
            <a class="link" routerLink="/dashboard">Dashboard</a> <i class="pi pi-angle-right"></i>
            <a class="capitalize link" routerLink="/{{collection}}">{{collection}}</a> <i class="pi pi-angle-right"></i>
            <span class="capitalize">{{data?.name}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 my-auto">
            <h5 class="my-auto capitalize">{{pageTitle}} Details</h5>
        </div>
        <div class="col-md-6 float-right align-item-right">
            <div class="d-flex" style="position: absolute;right: 0;">
                <div class="text-center mx-3">
                    <i class="pi pi-pencil cursor-pointer" style="font-size: 24px;" (click)="edit()"></i>
                    <p>Edit</p>
                </div>
                <div class="text-center mx-3">
                    <i class="pi pi-trash cursor-pointer" style="font-size: 24px;" (click)="delete()"></i>
                    <p>Delete</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex">
            <img [src]="data?.imgUrl" width="100px" height="100px" class="rounded-circle" alt="">
            <h1 class="capitalize my-auto ml-4">{{data?.name}}</h1>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-3">
            <label>{{pageTitle}} Owner Name</label> <br>
            <b>{{data?.owner_name}}</b>
        </div>
        <div class="col-md-3">
            <label>Phone No.</label> <br>
            <b>{{data?.mobile_no}}</b>
        </div>
        <div class="col-md-3">
            <label>Country</label> <br>
            <b>{{data?.nationality?.name}}</b>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-3">
            <label>Full Address</label> <br>
            <b>{{data?.full_address}}</b>
        </div>
    </div>


    <div class="px-3">
        <div class="row border-bottom my-auto">
            <div class="col-md-6 p-0">
                <i class="my-auto font-larger">Contract Details</i>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let contract of data?.contracts">
        <div class="row my-3">
            <div class="col-md-3">
                <label>Contract Date</label> <br>
                <b>{{contract?.contract_date}}</b>
            </div>
            <div class="col-md-3">
                <label>Contract Due Date</label> <br>
                <b>{{contract?.contract_due_date}}</b>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <h5>Contract Terms</h5>
                <p>{{contract?.contract_terms}}</p>
            </div>
        </div>
        <hr>
    </ng-container>
    <div class="row my-5">
        <div class="col-md-12">
            <h5>Uploaded Referance Documents</h5>
        </div>
    </div>
    <div class="row my-3">
        <!-- <div class="col-md-2 text-center" *ngFor="let data of subCollectionData">
            <img [src]="data?.imgUrl" class="w-100" alt="">
        </div> -->
        <div class="col-md-4 my-2" *ngFor="let data of subCollectionData;let i = index">
            <img [src]="data.imgUrl" (load)="data.loaded = true" [hidden]="!data.loaded" width="100%">
            <a [href]="data.imgUrl" target="_blank" *ngIf="!data.loaded">Click here to see document</a> <br>
        </div>
    </div>
</div>
<br><br><br>